*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body
{
  width: 100%;
}

html
{
    scroll-behavior: smooth;
}
/* !__________________________________________________________________________________________________________________________________ */

/** Heading Start */

/* & Start */
.main
{
  /* border: 2px solid red; */
  height: 40px;
  width: 100%;
  padding-left: 5px;
  background-color: #023b6d;
  display: flex;
  justify-content: space-between;
  position:fixed;
  top: 0px;
}

.main .first
{
  /* border: 2px solid green; */
  height: 100%;
  width: 320px;
  display: flex;
  justify-content: space-between;
  line-height: 56px;
  padding-left:18px;
}

.main .first .image img
{
  /* border: 2px solid yellow; */
  width: 80%;
  height:70%;
}

.main .first .icons i
{
  /* border: 2px solid yellow; */
  color: rgb(197, 196, 196);
  padding: 5px;
  font-size: 30px;
  margin: -2px 1px 0px 0px;
}

.main .first .icons i:hover
{
  color: white;
}


/* & centter */
.main .center
{
  /* border: 2px solid green; */
  height: 100%;
  width: 170px;
  padding-top: 4px;
  display: flex;
  justify-content: space-evenly;
}

.main .center h3
{
  color: white;
  padding-top: 5px;
}

.main .center .chevron-icons
{
  padding-top: 9px;
  color: rgb(197, 196, 196);
}

.main .center .chevron-icons:hover{
  color: white;
}

/* & end */
.main .last{
  /* border: 2px solid green; */
  height: 100%;
  width: 227px;
  display: flex;
  justify-content: space-between;
}

.main .last .external-link
{
  color: rgba(201, 196, 196, 0.849);
  line-height: 40px;
  font-size: 20px;
}

.main .last .external-link:hover
{
  color: white;
}

.main .last .download
{
  /* border: 1px solid yellow; */
  color: white;
  font-size: 15px;
  background-color: #00a6eb;
  line-height: 40px;
  text-indent: 6px;
  transition: all 0.5s;
}

.last .download a{
  text-decoration: none;
  color: white;
}


.fa-download:before {
  content: "\f019";
  font-size: 20px;
}

.main .last .download:hover{
  background-color: rgb(2, 188, 255);
}
/** Heading End */

/* !____________________________________________________________________________________________________________________________________ */

/** navbar starts */
nav
{
    /* border: 1px solid red; */
    padding: 20px;
    position: fixed;
    top: 40px;
    width: 100%;
    box-shadow: 0px 10px 10px 5px rgba(225, 219, 219, 0.333);
    background-color: white;
}

nav ul
{
    /* border: 8px solid green; */
    display: inline;
    margin-left: 649px;
}

nav ul li
{
    /* border: 1px solid yellow; */
    display: inline;
}

nav .navbar-brand-logo
{
    margin-left: 90px;
    font-size: 30px;
    font-weight: bold;
    color: #24325d;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

nav ul li a
{
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    color: #24325d;
    transition: color .5s;   
}

nav ul li a:hover
{
    color: #006fbe;
}

.current{
  color:#00a6eb
}
/** navbar ends */

/* !_______________________________________________________________________________________________________________________ */

/** contact start */
.our-story{
  /* border: 2px solid red; */
  margin-top: 116px;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 110px;
  background-color: #e0e1e457;
  color: rgba(66, 66, 66, 0.824);
}

.our-story div{
  /* border: 2px solid green; */
  width: 100%;
}

.our-story .left{
  font-size: 35px;
  padding-top: 10px;
}

.our-story .right{
  padding-top: 25px;
  padding-left: 800px;
}
.our-story .right a{
  text-decoration: none;
  color: #006fbe;
}

/** Contact ends */

/* !____________________________________________________________________________________________________________________________________ */

/** Map Starts */

.Map{
  /* border: 2px solid red; */
  width: 100%;
  height: 400px;
  padding: 50px;
}

.Map .delhi{
  /* border: 2px solid green; */
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

iframe{
  width: 100%;
  height: 100%;
}

/** Map Ends */

/* !___________________________________________________________________________________________________________________________________ */

/** Input Form Start  */

.mforms
{
/* border: 3px solid red; */
background-color:rgba(255, 255, 255, 0.637);
margin: 0px auto;
display: flex;
flex-wrap: wrap;
align-items: center;
height:600px;
}

.child1
{
/* border: 3px solid blue; */
width: 40%;
height: 400px;
}

.child2
{
/* border: 3px solid green; */
width: 60%;
height: 500px;

}

input[placeholder]{
  font-size: 18px;
}

textarea[placeholder]{
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
}

.child1-child
{
/* border: 2px solid black; */
margin-top: 20px;
margin-bottom: 40px;
margin-left: 100px;
padding: 10px;
}


.child2-child
{
border-color: chartreuse;
border: 2px solid black;
}

#gchild
{
padding-left: 50px;
font-size: 15px;
color: rgb(114, 113, 113);
}

.child2-child1
{
width: 45%;
height: 50px;
margin-top: 30px;
border: 1px solid lightgray;
border-radius: 5px;
padding-left: 10px;
}

.child2-child2
{
width: 45%;
height: 50px;
margin-bottom: 15px;
margin-top: 40px;
border: 1px solid lightgray;
border-radius: 5px;
padding-left: 10px;
}

.child2-child3
{
    width: 90.5%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.child2-child4
{
    margin-top:30px ;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;  
    padding-left: 10px;
}

.child2-child5
{
    text-decoration: none;
    align-items: center;
    margin-left:400px;
    background-color: #006fbe;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.child1 i
{
    color:#006fbe;
    /* border: 2px solid black; */
    padding: 10px;
    font-size: 20px;
    background-color: rgba(211, 211, 211, 0.322);
    border-radius: 100%;
}

.child1 i:hover 
{
    background-color: #006fbe;
    color: white;
}

/** Input Form ends */

/* !____________________________________________________________________________________________________________________________________ */

/** Scroll Arrow starts */
.scroll-arrow
{
    background-color: #006fbe;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 987;
} 

.scroll-arrow a
{
    color: white;
    text-decoration: none;
    font-size: 40px;
     padding: 15px;
     font-weight: bold;
}

/** Scroll Arrow ends */

/*!________________________________________________________________________________________________________ */

/* * Footer start */
.footer{
  font-size: 18px;
  /* border: 2px solid red; */
  height: 300px;
  text-align: center;
  background-color: #1d284b;
  color: white;
}

.footer i{
  /* border: 2px solid yellow; */
  font-size: 20px;
  padding: 10px;
  margin:3px;
  border-radius: 50%;
  background-color: #006fbe;
}

.footer h1{
  font-size: 45px;
}

.footer .final{
  padding: 30px;
}

.footer .before{
  padding-top: 30px;
}

.footer .end a{
  text-decoration: none;
  color: #006fbe;
}

/* * footer stop */